{% extends "base.html" %}
{% block content %}

<div class="min-h-screen flex items-center justify-center bg-dark px-5 pt-24">

    <div class="w-full max-w-[400px] bg-dark p-6 rounded-lg">

        <h1 class="text-white text-2xl font-bold mb-4 text-center">
            Forgot Password
        </h1>

        {% if messages %}
            {% for message in messages %}
                <p class="p-3 rounded text-white mb-3
                    {% if message.tags == 'error' %} bg-red-600
                    {% else %} bg-green-600 {% endif %}">
                    {{ message }}
                </p>
            {% endfor %}
        {% endif %}

        <form method="POST">
            {% csrf_token %}
            
            <input type="email" name="email" placeholder="Enter your email"
                class="w-full h-12 bg-dark-green text-white px-4 rounded mb-4 outline-none border-0" required>

            <button class="w-full h-12 bg-primary text-dark font-bold rounded">
                Send Reset Link
            </button>
        </form>

    </div>

</div>

{% endblock %}
